body {
    margin: auto;
    box-sizing: border-box;
}

.navbar {
    background: transparent !important;
}

.navbar.scrolled {
    background: #FD96A9 !important;
}

.header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
  
.header-logo {
    font-family: "Abril Fatface", cursive;
    font-size: 2.25rem;
}
  
.header-logo:hover {
    text-decoration: none;
}

.display-4 {
	font-family: "Abril Fatface", cursive;
	font-style: italic;
	font-variant-ligatures: discretionary-ligatures;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Abril Fatface", cursive;
	font-variant-ligatures: discretionary-ligatures;
	-webkit-font-smoothing: antialiased;
}

p {
	font-family: 'Raleway', sans-serif !important;
	font-variant-ligatures: discretionary-ligatures;
	-webkit-font-smoothing: antialiased;
}
.container-fluid {
    padding-top:70px;
    padding-bottom:70px;
}

#about {
    background-color: #FD96A9;
}

#portfolio {
    background-color: #FFFFFF;
}

.jumbotron {
    background-color: #FD96A9 !important;
}

.card-deck, .card {
	background: transparent !important;
	border: none;
}

.footer {
    margin: auto;
    padding: 15px;
}
