body {
    margin: auto;
    box-sizing: border-box;
    background-color: #FBF5F3;
}

.navbar.sticky-top.scrolled {
    background-color: #FBF5F3 !important;
}

.nav-link, .btn {
    color: #17a2b8;
}
  
.header-logo {
    font-family: "Abril Fatface", cursive;
    font-size: 2.75rem;
    color:#17a2b8 !important; 
}

.display-4 {
	font-family: "Abril Fatface", cursive;	
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Abril Fatface", cursive;
    color:#17a2b8;
}

p {
	font-family: 'Raleway', sans-serif !important;
}
.container-fluid {
    padding-top:25px;
    padding-bottom:25px;
}

.avatar {
    vertical-align: middle;
    width: 275px;
    height: 275px;
    border-radius: 50%;
  }

img {
    max-width: 100%;
    max-height: 100%;
}

.card-deck, .card {
	background: transparent !important;
    border: none;
    padding: 5px;
}

.footer {
    text-align: center;

}
