body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    box-sizing: border-box;
}

.header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
  
.header-logo {
    font-family: "Playfair Display", serif;
    font-size: 2.25rem;    
}
  
.header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display" serif;
}

.display-4 {
    font-size: 2.5rem;
  }

.container-fluid {
    padding-top:70px;
    padding-bottom:70px;
}

#about {
    background-color: yellow;
    align-content: center;
}

#portfolio {
    background-color: orange;
}

#contact {
    background-color: green;
}

.card-deck {
    padding: 25px;
}

.footer {
    margin: auto;
    padding: 15px;
    text-align: center;
}
